:root{
    font-size: 62.5%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    font-weight: 800;
    font-size: 5rem;
    font-family: "Courier New", monospace;

    min-width: 100dvw;
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle at 75% 25%, #aa8d42 0%, #cf9e44 50%, #eea825);
}

#outer{
    height: 75rem;
    aspect-ratio: 1 / 1.3;

    border: white solid .1rem;
    border-radius: 4rem;

    box-shadow: 4rem 4rem 8rem 2rem rgba(0, 0, 0, 1);
    background: linear-gradient(135deg, rgb(124, 124, 124), rgb(87, 87, 87), rgb(70, 69, 69));

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr
                        4fr;

    row-gap: 3rem;
    padding: 3rem 4rem;
}

#display-container{
    grid-column: 1 / -1;
    grid-row: 1;

    display: grid;
    grid-template-columns: auto auto 1fr; /* Used to be two 8rem columns then 1fr */
    grid-template-rows: 1fr 
                        1.5fr;
    grid-template-areas: 'upper upper upper'
                         'upper upper upper';

    column-gap: 1rem;

    background-color: rgb(83, 163, 83);

    box-shadow: inset 0rem 0rem 2rem 0;

    border: rgb(85, 65, 14) solid .1rem;
    border-radius: 2rem;
    padding: 0 2rem;
}

.display,
.lower-formula{
    display: none;

    align-items: center;
}

/* #display-container.top-row{
    grid-template-areas: 'overflow-top-row upper upper'
                         'overflow-top-row upper upper';
}

#display-container.top-row .display.overflow-top-row{
    display: flex;
} */

/* Bottom row overflow */

#display-container.double-line{
    grid-template-areas: 'upper upper upper'
                         'ans lower lower';

    .upper-formula{
        font-size: 3.5rem;
        color: rgb(59, 59, 59);
    }

    .ans,
    .lower-formula{
        display: flex;
    }
}

/* #display-container.double-line.top-row{
    grid-template-areas: 'overflow-top-row upper upper'
                         'ans lower lower';
}

#display-container.bottom-row{
    grid-template-areas: 'upper upper upper'
                         'ans overflow-bottom-row lower';
} */

/* #display-container.bottom-row .display.overflow-bottom-row{
    display: flex;
} */

/* #display-container.top-row.bottom-row{
    grid-template-areas: 'overflow-top-row upper upper'
                         'ans overflow-bottom-row lower';
} */

.upper-formula{
    grid-area: upper;

    display: flex;
}

.upper-formula,
.lower-formula{
    align-items: center;
    direction: rtl;

    width: 100%;
    height: 100%;

    overflow-x: auto;
}

.lower-formula{
    grid-area: lower;
}

.ans{
    grid-area: ans;

    align-items: center;
    justify-content: flex-start;
}

/* .overflow-top-row{
    grid-area: overflow-top-row;
}

.overflow-bottom-row{
    grid-area: overflow-bottom-row;
} */

/* .overflow-top-row,
.overflow-bottom-row{
    box-shadow: 1rem 0rem 1rem 0rem black;
} */


.upper-formula::-webkit-scrollbar,
.lower-formula::-webkit-scrollbar{
    height: .9rem;
}

.upper-formula::-webkit-scrollbar-thumb,
.lower-formula::-webkit-scrollbar-thumb{
    background: rgb(117, 117, 117);

    box-shadow: inset .2rem .2rem .5rem rgb(26, 26, 26);
    border-radius: 1rem;

    transition: background .8s ease;
}

.upper-formula::-webkit-scrollbar-thumb:active,
.lower-formula::-webkit-scrollbar-thumb:active{
    background: rgb(95, 95, 95);
}

.button-container{
    grid-row: 2 / -1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 'divide clear clear delete'
                         'multiply one two three'
                         'minus four five six'
                         'addition seven eight nine'
                         'equals decimal naught naught';
    column-gap: 2rem;
    row-gap: 2rem;
}

.buttons{
    border: rgba(150, 150, 150, 1) solid .2rem;
    border-radius: .8rem;
    box-shadow: .7rem .7rem 0 0 rgb(114, 130, 151);

    display: flex;
    align-items: center;
    justify-content: center;

    

    cursor: pointer;
}

.numbers{
    background-color: darkgrey;

    &:hover{
        background-color: rgb(214, 214, 214);
    }
}

.operators{
    background-color: rgb(216, 140, 0);

    &:hover{
        background-color: rgb(245, 200, 116);
    }
}

.movements{
    background-color: rgb(165, 165, 230);

    &:hover{
        background-color: rgb(208, 208, 252);
    }
}

.buttons:active{
    margin-top: .7rem;
    margin-left: .7rem;
}

#AC{
    grid-area: clear;
}

#zero{
    grid-area: naught;
}